@import 'https://fonts.googleapis.com/css?family=Lobster';
@import 'https://fonts.googleapis.com/css?family=Open+Sans';


html {
	background:#b97000 url("http://cdn30.us1.fansshare.com/image/wallpaperbackground/orange-background-hd-wallpaper-1147062953.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	   -moz-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
}

body {
	background:transparent;
	-webkit-font-smoothing: antialiased;
	-webkit-overflow-scrolling: touch;
	line-height: 1.5em;
	font-size:20px;
	font-family: 'Open Sans', Arial, sans-serif;
	color:#fff;
	color:rgba(255,255,255,.8);
	font-weight: normal;
	margin: 0;
    height: 100%;
    overflow: hidden;
}

h2, h3{
	font-family: 'Open Sans', Arial, sans-serif !important;
	font-weight: 900;
}

inicio .section{
	padding-top:100px;
}
juego .ventanaJuego{
	color:#000;
}

cabecera .header{
	background: rgba(255,255,255,0.2);
}

.margen-top-10{
	margin-top: 10px;
}
.margen-top-15{
	margin-top: 15px;
}
.margen-top-20{
	margin-top: 20px;
}
.margen-top-30{
	margin-top: 30px;
}
/**********************/
/*FULL SCREEN - VIDEO */
/**********************/
.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
		opacity: 0.8;
}

.fullscreen-bg__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media (min-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    width: auto;
    height: 100%;
  }
}


@media (min-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    height: 300%;
    top: -100%;
  }
}

@media (max-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    width: 300%;
    left: -100%;
  }
}

/***************/
#logo-trivial{
	font-weight: 900;
	font-size: 20px;
	padding-top:10px
}

inicio a.btn-inicio {
	padding: 20px 50px;
    background: #ff8f00;
    border-radius: 5px;
    width: 50%;
    display: block;
    margin:0 auto;
}

inicio a.btn-inicio:hover{
	text-decoration: none;
	background: #c57003;
}

.contenidoInicio {
    background: rgba(255,255,255,0.2);
    border-radius: 5px;
    padding: 30px;
}

/******************/
/* FICHA JUGADOR */
.containerJugadores{
	min-height: 344px;
}

.numJugadores {
    background: rgba(255,255,255,0.2);
    border-radius: 5px;
    padding: 10px 20px;
}

.tablaJugadores{
	display: table;
	color:#000;
}

.tablaJugadores .panel{
	overflow: hidden;
}

.tablaJugadores .fichaJugador{
	display: table-row;
}

.tablaJugadores .avatarJugador{
	width: 150px;
	display: table-cell;
}

.tablaJugadores .avatarJugador img{
	width:150px;
}

.tablaJugadores .datosJugador{
	width: 80%;
	display: table-cell;
	vertical-align: middle;
	padding-left: 10%;
}

.tablaJugadores .datosJugador p{
	font-size: 1.2em;
}

.tablaJugadores .datosJugador .nombreJugador{
	padding:#000;
	padding-left: 20%;
	font-size: 2em;
}

.tablaJugadores .datosBorrar{
	width: 20%;
	display: table-cell;
	vertical-align: top;
	padding-left: 0px;
	padding-top: 15px;
	text-align: center;
}

.tablaJugadores i.fa{
	cursor: pointer;
}

juego .ventanaJuego .panel {
    text-align: center;
    vertical-align: middle;
}

juego .ventanaJuego .panel .contenido{
	min-height: 150px;
	display: table;
	width: 100%;
}

juego .ventanaJuego .panel .contenido p{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	width: 100%;
	z-index: 10;
}

juego .ventanaJuego .icon-fruit{
	position:absolute;
	margin-top:10px;
	border-radius: 100%;
	background: #fff;
	width: 20%;
	max-width:100px;
	z-index: 1;
}

juego .ventanaJuego .icon-fruit img{
		width: 100%;
}

juego .ventanaJuego .leyenda-fruit span{
	  font-size: 0.7em;
}

juego .puntuacionJuego .panel{
	overflow: hidden;
}

juego .puntuacionJuego .avatarJugador{
	  width: 100%;
		max-width: 125px;
		float:left;
}

juego .puntuacionJuego .avatarJugador img {
    width: 100%;
}

juego .puntuacionJuego .datosJugador{
	color:#000;
	float:left;
	text-align: left;
	padding:20px 5% 0px;
}

juego .panel.penalizado {
    opacity: 0.5;
}

juego .panel.elegido {
	box-shadow: inset 0px 0px 44px #ff8f00;
}

juego #alertRespuesta{
	display: none;
	position: absolute;
	text-align: center;
	padding-top: 10%;
	background:rgba(0,0,0,0.5);
	width:100%;
	height: 100%;
	z-index: 90;
}

#alertFallo, #alertAcierto, #alertSiguiente, #alertGanador{
	display:none;
}

#alertFallo .recuadro{
	background: #ff0000;
}

#alertAcierto .recuadro{
	background: #00ff00;
}

#alertSiguiente .recuadro{
	background: #ff8f00;
}

#alertGanador .recuadro{
	background: #ff8f00;
}

juego #alertSiguiente{
	position: absolute;
	bottom: 20%;
	width:100%;
	left:0%;
	right: 0%;
}

juego .recuadro {
    background: rgba(255,255,255,0.3);
    width: 50%;
    margin: 0 auto;
    border-radius: 5px;
    padding: 50px;
    z-index:99999;
}

juego .recuadro h2{
	font-weight: 900;
	text-shadow: 1px 1px 1px #888;
	font-size: 2.5em;
}

juego .barraTiempo{
	min-height: 40px;
	padding-top:20px;
}

juego .barraTiempo .progress-bar{
	text-align: right;
}

juego .barraTiempo #progress-seg{
	padding-right: 10px;
}

juego .oculto{
	display: none;
}
juego .mostrado{
	display: block;
}

.modal-dialog {
    color: #000;
}

.modal-dialog .btn{
    background:#ff8f00;
}

.modal-dialog .btn:hover{
    background:#c57003;
    color:#fff;
}

@media (width: 1080px){
	juego .puntuacionJuego .avatarJugador{
		float:none;
		margin: 0 auto;
	}
	juego .puntuacionJuego .datosJugador{
	  	text-align: center;
	  	line-height: 15px;
	}
}


/********************************************************/
/*                      Typography                      */
/********************************************************/
a { color:#fff; text-decoration: none; }
a:hover, a:active { color:#fff; text-decoration: underline; }
.lead {
	font-weight:normal;
	font-size:1.5em;
	line-height:1.2em;
}

.title,
.subtitle {
	font-family: 'Lobster', Helvetica, Arial, sans-serif;
	font-weight:normal;
	font-size: 3em;
	margin-bottom:15px;
	color:#fff;
	line-height:1em;
}

.title{font-weight: bold; font-size:7em;}

.subtitle {
	line-height:.9em;
	font-size:5.5em;
	margin-top:0;
	margin-bottom:40px;
}
.tagline {
	font-size:2.3em;
	line-height:1.3em;
	font-weight:bold;
	margin-bottom:75px;
}

@media (max-width: 767px) {
	.lead {
		font-size:1.3em;
	}
}


/********************************************************/
/*                   UI - Buttons                       */
/********************************************************/
.btn{
	color:#fff;
	text-shadow: none;
	text-decoration: none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border:0 none;
}
.btn:hover {
	color:#000;
}
.btn-lg {
	padding:16px 30px;
	font-size:inherit;
}

.btn-link {
	color:rgba(255,255,255,.8);
}
.btn-link:hover, .btn-link:focus, .btn-link:active {
	color:#fff
}
.btn-default {
	background: rgba(255,255,255,.5);
}
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active {
	background: rgba(255,255,255,.8);
}
.btn-primary {
	background: rgba(255,255,255,.2);
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary:active {
	background: rgba(255,255,255,.5);
}



/********************************************************/
/*                 UI - Thumbnails                      */
/********************************************************/
.thumbnail {
	background-color: rgba(255,255,255,.2);
	border: 0 none;
	padding:10px;
	-webkit-border-radius: 2px;
	   -moz-border-radius: 2px;
	        border-radius: 2px;
}
.thumbnail .caption {
	color: inherit;
}



/********************************************************/
/*                 Everything else                      */
/********************************************************/

.list-social .btn {
	font-size:1.3em;
}
.list-social .btn:hover, .list-social .btn:active, .list-social .btn:focus {
	text-decoration: none;
}


/* Social buttons in the footer */
#social {
	margin-top:50px;
	margin-bottom:50px;
}
#social .wrapper {
	width:340px;
	margin:0 auto;
}


/***********************************************************/
/*                   Theme: text shadows                   */
/***********************************************************/
.text-shadows {
	text-shadow:0 1px 2px rgba(0,0,0,.2);
}
.text-shadows .title,
.text-shadows .subtitle,
.text-shadows .tagline {
	text-shadow:0 2px 3px rgba(0,0,0,.4);
}
.text-shadows .mainmenu .dropdown-menu a {
	text-shadow:0 2px 1px rgba(0,0,0,.2);
}
.text-shadows .mainmenu .dropdown-menu a:hover {
	text-shadow:none;
}
