<!-- VIDEO DE FONDO -->
<div class="fullscreen-bg">
    <video loop muted autoplay poster="../assets/images/background.jpg" class="fullscreen-bg__video">
        <!--<source src="video/big_buck_bunny.webm" type="video/webm">-->
        <source src="../assets/images/background_trivial.mp4" type="video/mp4">
        <!--<source src="video/big_buck_bunny.ogv" type="video/ogg">-->
    </video>
</div>
<section class="section">
	<div class="container">

		<div class="row">
			<div class="contenidoInicio col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1 text-center">

				<h1 class="title">Trivial Fruit</h1>

				<h3 class="tagline">
					Otra forma de jugar al trivial
				</h3>

				<a class="btn-inicio" [routerLink]="['Registro']">{{texto}}</a>

			</div> <!-- /col -->
		</div> <!-- /row -->

	</div>
</section>
