<cabecera></cabecera>
<div class="container-fluid">
  <div class="ventanaJuego col-xs-9">
    <div class="panel">
      <p>{{preguntaActual.pregunta}}</p>
    </div>
    <div class="panel col-xs-5">
      <p>{{preguntaActual.opcion1}}</p>
    </div>
    <div class="col-xs-2">
    </div>
    <div class="panel col-xs-5">
      <p>{{preguntaActual.opcion2}}</p>
    </div>
    <div class="panel col-xs-5">
      <p>{{preguntaActual.opcion3}}</p>
    </div>
    <div class="col-xs-2">
    </div>
    <div class="panel col-xs-5">
      <p>{{preguntaActual.opcion4}}</p>
    </div>
  </div>
  <aside class="puntuacionJuego col-xs-3">
    <puntuacionJuego></puntuacionJuego>
  </aside>
</div>
